<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuba.client.changeskin">
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name="com.wuba.client.changeskin.test.SkinActivity"/>
    </application>
</manifest>
